body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

.slider {
  margin: 0 auto;
  width: 880px;
  height: 400px;
  overflow: hidden;
}

.slides {
  width: 400%;
  height: 400px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
}

.slide img {
  width: 800px;
}

.manual-navigation {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-button {
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.manual-button:not(:last-child) {
  margin-right: 40px;
}

.manual-button:hover {
  background-color: bisque;
}

#radio1:checked ~ .slide1 {
  margin-left: 0;
}

#radio2:checked ~ .slide2 {
  margin-left: -25%;
}

#radio3:checked ~ .slide3 {
  margin-left: -75%;
}

section#tela-topicos-modelos {
  height: 100vh;
  background-color: var(--primary);
  max-width: 1280px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
}

section h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 42px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  max-width: 1800px;
  margin: 20px auto;
}

.card {
  border: 1px solid #000;
  max-width: 500px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 8px;
}

.card img {
  object-fit: cover;
  aspect-ratio: 1;
  width: 100%;
}

