:root {
    --radii: 4px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}
.wrapper form h1 {
    font-family: var(--font-family-heading);
    font-size: 42px;
    margin-bottom: calc(30px - 16px);
}

.wrapper form input {
    width: 100%;
}

.wrapper form input:not([type="submit"]) {
    padding: 12px 8px;
    height: 40px;
    font-size: 20px;
    border-radius: var(--radii);
    border: 0;
    outline: none;
}

.wrapper form input:not([type="submit"]):focus {
    border: 2px solid #ddd;
}

.wrapper form .submit {
    text-decoration: none;
    width: 100%;
    background-color: var(--primary);
    height: 40px;
    border-radius: var(--radii);
    filter: brightness(95%);
    border: 0;
    cursor: pointer;
    font-family: var(--font-family-app);
    transition: all .2s ease-in-out;
    transform: translate(0, 0);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}

.wrapper form input[type="submit"]:hover {
    transform: translate(0, -3px);
}

.wrapper form span {
    font-size: 18px;
}

.wrapper form span a {
    text-decoration: none;
}