.swiper {
  height: 700px;
  display: flex;
  justify-content: center;
}


.swiper-slide {
  justify-content: center;
  align-items: center;
  display: flex !important;
}

.swiper-slide img {
  object-fit: cover;
  width: 100%;
  height: 100%;

}

.swiper-pagination-bullet {
  --swiper-pagination-color: var(--slate-400);
  --swiper-pagination-bullet-width: 20px;
  --swiper-pagination-bullet-height: 20px;
  border-radius: 999px;
  display: block;
}